@*创建人：
    修改人：
    最后修改时间：
    功能介绍：*@

@{
    Layout = null;
}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<title>RET - Login</title>
		<meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=8" />
		<!-- stylesheets -->
		<link rel="stylesheet" type="text/css" href="~/resources/css/reset.css" />
		<link rel="stylesheet" type="text/css" href="~/resources/css/style.css" media="screen" />
		<link id="color" rel="stylesheet" type="text/css" href="resources/css/colors/blue.css" />
		<!-- scripts (jquery) -->
		<script src="@Url.Content("~/resources/scripts/jquery-1.8.2.min.js")" type="text/javascript"></script>
        <script src="@Url.Content("~/resources/scripts/jquery-ui-1.8.24.min.js")" type="text/javascript"></script>
        <script src="@Url.Content("~/resources/scripts/jquery.ui.selectmenu.js")" type="text/javascript"></script>
        <script src="@Url.Content("~/resources/scripts/tiny_mce/jquery.tinymce.js")" type="text/javascript"></script>
        <script src="@Url.Content("~/resources/scripts/smooth.form.js")" type="text/javascript"></script>
        <script src="@Url.Content("~/resources/scripts/smooth.dialog.js")" type="text/javascript"></script>
		<script type="text/javascript">
		</script>
	</head>
	<body>
        
		<div id="login">
			<!-- login -->
			<div class="title">
				<h5>登录</h5>
				<div class="corner tl"></div>
				<div class="corner tr"></div>
			</div>
			<div id="divError" style="display:none" class="messages">
				<div id="message-error"  class="message message-error">
					<div class="text">
						<span>@ViewData["ErrorMassage"]</span>
					</div>
					<div class="dismiss">
						<a href="#message-error"></a>
					</div>
				</div>
			</div>
			<div class="inner">
				<form action="~/Account/DoLogin" method="post">
				<div class="form">
					<!-- fields -->
					<div class="fields">
						<div class="field">
							<div class="label">
								<label for="username">用户名:</label>
							</div>
							<div class="input">
								<input type="text" id="username" name="username" size="40" class="focus" value="admin"/>
							</div>
						</div>
						<div class="field">
							<div class="label">
								<label for="password">密码:</label>
							</div>
							<div class="input">
								<input type="password" id="password" name="password" size="40" class="focus" value="000000"/>
							</div>
						</div>
						<div class="field">
							<div class="checkbox">
								@*<input type="checkbox" id="remember" name="remember" />
								<label for="remember">Remember me</label>*@
                                <a href="@Url.Content("~/Account/Register")">注册</a>
							</div>
						</div>
						<div class="buttons">
							<input type="submit" value="登录" />
						</div>
					</div>
					<!-- end fields -->
					<!-- links -->
					<div class="links">
						@*<a href="#">Forgot your password?</a>*@
					</div>
				</div>

                    <input type="hidden" id="destination" name="destination" value="@ViewData["Destination"]"/>
                    <input type="hidden" id="error" name="destination" value="@ViewData["ErrorMassage"]"/>
				</form>
			</div>
		</div>
	</body>
</html>